@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Montserrat";
}

html {
  overflow-y: scroll;
}

body,
a {
  font-family: "Montserrat", Verdana, sans-serif;
}
